{% load staticfiles %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<h2>Login</h2>#}
{#<form method="post">#}
{#  {% csrf_token %}#}
{#  {{ form.as_p }}#}
{#  <button type="submit">Login</button>#}
{#</form>#}
{#</body>#}
{#</html>#}
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Signin Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
  </head>
  <body class="text-center">
    <form class="form-signin" method="post">
  <img class="mb-4" src="https://cdn2.iconfinder.com/data/icons/animals-9/100/Bald_Eagle-512.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Welcome!</h1>
            {% csrf_token %}
                <input class="form-control" id="{{ form.username.id_for_label }}" maxlength="30" name="username" placeholder="Email" type="text" />
                <input class="form-control" id="{{ form.password.id_for_label }}" maxlength="30" name="password" placeholder="Password" type="password" />
        <a href="{% url 'signup' %}">Немає акаунта? </a>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Увійти</button>
  <p class="mt-5 mb-3 text-muted">©2019</p>
</form>


</body></html>

