{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
{#    <link rel="stylesheet" href="{% static 'css/main.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'css/signin.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>

<div class="container">

    <form action="{% url 'signup' %}" id="signup" method="post">

        <div class="header">

            <h3>Форма реєстрації</h3>


        </div>

        <div class="sep"></div>

    {% csrf_token %}
        <div class="inputs">

            {{ form.username }}
            {{ form.email }}
            {{ form.first_name }}
            {{ form.last_name }}
            {{ form.password1 }}
            {{ form.password2 }}


            <button type="submit" id="submit">SIGN UP</button>

        </div>
  </form>

    </form>

</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#id_email").change(function() {
            var email = $('#id_email').val();
            $.ajax({
                type: 'GET',
                async: true,
                url: '/checkmail/',
                data: "email="+email,
                success: function(data) {
                    if (data['status']=='undeliverable'){
                        alert('Ваша пошта не існує, вкажіть, будь ласка, вірний адрес');
                        $("#id_email").val('');
                    }
                    else {
                        alert('Статус вашої пошти -'+data['status']+', проте, ми приймаємо його')
                    }
                },
                dataType: 'json',
            });
        });
    });
</script>
</body>
​