.pt-20{
    padding-top: 20px;
}
.pt-10{
    padding-top: 10px;
}
.mr-10{
    margin-right: 10px;
}
.img-main{
    height: 75px;
    width: 75px;
}
.img-post{
    max-width: 60% !important;
}
.color-white{
    color: white !important;
}
.head-link:hover{
    text-decoration: none;
}
.yel{
    color: #e3ee5c;
}