{% extends 'base.html' %}
{% block title %}Головна{% endblock %}
{% block body %}
<div class="row">
          <div class="col-md-4 col-lg-4">
            <h3>Останні пости:</h3>
            {% if last_posts %}
              <ul class="list-unstyled">
                  {% for post in last_posts %}
                  <li class="media pt-10">
                    {% if post.photo %}
                        <img src="{{ MEDIA_URL }}{{ post.photo }}" class="mr-3 img-thumbnail img-main" alt="post photo">
                    {% else %}
                        <img src="https://lafeber.com/pet-birds/wp-content/uploads/2017/09/transparent-parrot-1.png" class="mr-3 img-thumbnail img-main">
                    {% endif %}
                    <div class="media-body">
                        <a href="/post/{{ post.id }}"><h5 class="mt-0 mb-1">{{ post.title }}</h5></a>
                      {{ post.body|truncatechars:120 }}
                    </div>
                  </li>
                  {% endfor %}
                </ul>
          {% else %}
                <p>Постів ще немає, але Ви можете додати у формі справа або ж нарандомити!</p>
          {% endif %}
          </div>
          <div class="col-md-8 col-lg-8">
            <h1>Привіт, {{ request.user.first_name }}!</h1>
              <form action="{% url 'create_post' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
                 <div class="form-group {% if form_post.title.errors %}has-error{% endif %} col-md-12 ">
                    <label>Заголовок:</label></br>
                        {{form_post.title.errors}}
                        {{form_post.title}}
                    </div>
              <div class="form-group {% if form_post.body.errors %}has-error{% endif %} col-md-12 ">
                    <label>Текст:</label></br>
                        {{form_post.body.errors}}
                        {{form_post.body}}
                    </div>
              <div class="form-group {% if form_post.photo.errors %}has-error{% endif %} col-md-12 ">
                    <label>Фоточку?</label></br>
                        {{form_post.photo.errors}}
                        {{form_post.photo}}
                    </div>

                  <button type="submit" class="btn bg-primary color-white col-lg-12">Додати пост</button>
                </form>

          </div>
          </div>
{% endblock %}