{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block body %}
  <div class="col-md-12 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title">{{ post.title }}</h2>
        <p class="blog-post-meta">{{ post.created_at|date:'d.m.Y' }}, by {{ post.author }}</p>
           {% if post.photo %}
            <img src="{{ MEDIA_URL }}{{ post.photo }}" class="img-fluid mx-auto d-block img-post" alt="Responsive image">
            {% endif %}
        <hr>
        <p>{{ post.body }}</p>
      </div>

  <div class="row">
    <a class="btn btn-success mr-10" href="/like/{{ post.id }}">Вподобайка({{ likes }})</a>
    <a class="btn btn-danger" href="/dislike/{{ post.id }}">Дизлайк({{ dislikes }})</a>
</div>
    </div>
{% endblock %}
